*{ margin: 0; padding: 0; }
a.button{ color: #6475BE; }


body{
	background-color: #343432;
	font-family: Tahoma, sans-serif;
	color: #aaabab;
}

#wrapper{
	margin: auto;
	margin-top: 50px;
	max-width: 1300px;
}
#left{ width: 20%; float: left; }
#videos{ width: 80%; float: right; min-height: 100px; }

h1, h2{
	font-size: 1.1em;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #fff;
}
/* Container */
#avatar{
	width: 90px;
	height: 90px; 
	position: relative;
	margin-bottom: 10px;
	
}
/* Image */
.avatar{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	border: 2px solid #888;
	position: absolute;
}
#ava-countdown{
	display: none;
}

.button{
	cursor: pointer;
}

#videos{
}

#video-recorder-wrapper{ width: 90%; margin: auto; }

#video-player, #video-recorder{
	width: 100%;
}

#video-recorder{
	/*
	width: 420px;
	height: 280px; */
	width: 100%;
	height: 100%;

	position: relative;
	background-size: cover !important;
}
#video-player{
	border: 2px solid #6698cf;
}
#video-recorder{
	background-color: #efef95;
	border: 2px solid #fce162;
}

#video-player-play{
	top: 50%;
	left: 50%;
	position: absolute;
	
}
#video-player-play img{
	top: -46px;
	left: -46px;
	position: absolute;
	transition: opacity 1s;
	-moz-transition: opacity 1s; /* Firefox 4 */
	-webkit-transition: opacity 1s; /* Safari and Chrome */
	-o-transition: opacity 1s; /* Opera */
	opacity: 1;
	cursor: pointer;
}
#video-player-play img:hover{ opacity: 0.3; }

#video-player-ui audio{
	width: 100%;
	position: absolute;
	bottom: 0;
}


.recorder-ui#record-button-onvideo{
	position: absolute;
	left: 50%;
	top: 50%;
}

#record-init-background{
	width: 100%;
	height: 100%;
	background-color: #ededaf;
	position: absolute;
	top: 0;
}

.pincode{
	width: 100%;
	height: 100%;
	background-color: #444;
	position: absolute;
	top: 0;
}
.pincode div{
	position: absolute;
	text-align: center;
	top: 50%;
	width: 400px;
	text-align: center;
	left: 50%;
	margin: 0 -200px;
}
.pincode div input{
	width: 70px;
	height: 70px;
	padding: 6px;
	font-size: 2.3em;
	background-color: transparent;
	border: 1px solid rgba(255,255,255,0.4);
	color: #eee;
	text-align: center;
}

#record-video-drag{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}
.recorder-ui{
	display: none;
}
.recorder-ui#save-recorded-video{
	width: 71px;
	height: 71px;
	padding: 3px;
	margin: -37px;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
}

.recorder-finished{
	position: absolute;
	top: 50%;
}
.recorder-ui#save-recorded-video{ left: 33.33%; }
.recorder-ui#re-record-button-onvideo{ left: 66.66%; }
.recorder-ui#play-button-onvideo{ left: 50%; top: 50%; position: absolute; }
.recorder-ui#stop-button-onvideo{ left: 50%; top: 50%; position: absolute; }

.recorder-ui img{
	position: absolute;
	left: -37px;
	top: -37px;
}

#video-recorder-overlay-ui{
}

#video-recorder-overlay-ui #what-did-i-learn{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 70px;
}

#prev-week, #next-week{
	width: 20px;
	height: 100%;
	position: absolute;
	background-repeat: no-repeat;
}

#prev-week{ left: -25px; background-image: url(../images/prevweek.png); }
#next-week{ right: -25px; background-image: url(../images/nextweek.png); }

#note-drag-area{
	width: 100%;
	height: 100%;
	z-index: -1;
	position: absolute;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: -40px;
	margin-bottom: -40px;
}

#video-recorder-overlay-ui #ilearned{
	position: absolute;
	bottom: 0;
	background-color: rgba(0,0,0,0.6);
	color: rgba(255, 255, 255, 1);
	height: 40px;
	width: 94%;
	line-height: 40px;
	padding-left: 3%;
	padding-right: 3%;
}

#vumeters{
	bottom: 50px; 
	left: 10px;
	position: relative;
}

#vumeters div{
	width: 5px;
	height: 30px;
	background-color: rgba(23, 187, 69, 1);
	position: absolute;
	bottom: 0;
}

#countdown{
	position: absolute;
	left: 50%;
	top: 50%;
	height: 80px;
	width: 80px;
	margin: -44px;
	text-align: center;
	line-height: 80px;
	font-size: 4em;
	border: 4px solid rgba(255,255,255,0.7);
	background-color: rgba(0,0,0,0.4);
	color: rgba(255,255,255,0.9);
	border-radius: 1000px;
}

#video-player{ float: left; }
#video-recorder{ float: right; background-color: #ededaf; }

#video-recorder-controls{
	height: 20px;
	width: 100%;
}

#recorder-controls-button{
	width: 6%;
	height: 100%;
	background-color: #af9095;
	border: 3px solid #945a5d;
	border-radius: 10px;
	float: left;
	display: inline-block;
}


.rfx-scrollbar{
	margin-top: 8px;
	height: 5px;
	background-color: rgba(255,255,255,0.8);
	border: 10px solid rgba(255,255,255,0.2);
	border-radius: 5px;
	display: inline-block;
	background-clip: padding-box;
	position: relative;
}

.rfx-scrollbar-active{
	width: 0;
	max-width: 100%;
	height: 100%;
	background-color: rgba(48, 137, 201, 1);
	position: absolute !important;
}

.rfx-scrollbar-cursor{
	width: 25px;
	height: 17px;
	margin-top: -6px;
	border-radius: 4px;
	background-color: #fff;
	margin-left: -4px;
	position: absolute !important;
}
.rfx-scrollbar-cursor.draggable{
}
#record-button{
	margin-top: 8px;
	float: left;
	width: 5%;
	height: 25px;
	line-height: 25px;
	text-align: center;
	background-color: #dad8d9;
	border-radius: 5px;
	color: #d5714f;
}
#recorder-controls-timeline{ width: 92%; float: right; }
#note-scroll{ width: 98%; margin: auto; }
#note-zoom{	width: 10%; }

#notes{
	margin-top: 20px;
	height: 11%;
	width: 100%;
	position: relative;
}
#note-timeline-wrapper{
	width: 100%;
	overflow: hidden;
	height: 85%;
}
#note-timeline{
	position: relative;
	height: 100%;
}

#note-background{
	height: 70%;
	background-color: rgba(255,255,255,0.1);
	width: 100%;
	position: absolute;
	border-radius: 12px;
}

#note-options{
	display: none;
}

#timecapsule-wrapper{
	margin: 20px;
	padding: 10px;
	background-color: rgba(255,255,255,0.4);
	border-radius: 8px;
	color: rgba(0,0,0,0.4);
	padding-bottom: 100px;
}

#day-blocks, #week-blocks, #month-blocks{
	position: absolute;
	bottom: 0;
	height: 10px;
	color: #fff;
	font-size: 0.45em;
	line-height: 10px;
	white-space: nowrap;
	overflow: hidden;
}
#day-blocks{ display: none; }
#week-blocks{ display: none; }
#month-blocks{ display: visible; }

#day-blocks div, #week-blocks div, #month-blocks div{
	float: left;
	height: 100%;
	display: inline-block;
	white-space: normal;
	border-radius: 10px;
}

#day-blocks span, #week-blocks span, #month-blocks span{
	margin: 0 3px 0 3px;
	padding: 0 5px 0 5px;
	display: block;
	border-radius: 10px;
	background-color: #2f75ba;
}

.note{
	width: 0;
	background-color: #fff;
	width: 0px;
	top: 18%;
	position: absolute !important;
	
}

.note div{
	background-image: url(../images/note.png);
	height: 70px;
	width: 70px;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: -34px;
	z-index: auto;
}
.note div img{ 
    -moz-transition: box-shadow 0.3s;
    -webkit-transition: box-shadow 0.3s;
    -o-transition:  box-shadow 0.3s;
    transition: box-shadow 0.3s;
}

.note.selected{ z-index: 100; }
.note.selected div img{
	box-shadow: 0 0 10px 3px rgba(255,255,255,0.8);
}

.note img{ width: 95%; height: 70%; margin: 2.5%; border-radius: 3px; }
.yellow{ background-image: url(../images/yellow_note.png); }

#settings{
	display: none;
	margin: 20px;
	background-color: rgba(255,255,255,0.3);
}

input[type="button"]{
	padding: 8px;
}

/* Registration interface */
.register input{
	background-color: transparent;
	color: rgba(255,255,255,0.7);
}

#newUsername{ margin-top: 200px; }
#newUsername, #newUserEmail{
	border: 1px solid rgba(255,255,255,0.1); 
	padding: 11px; 
	font-size: 1.3em;
	text-align: center;
	display: inline-block;
	margin-bottom: 10px;
}

#newUserAdd{
	width: 100%; 
	clear: both; 
	display: block; 
	padding: 6px; 
	color: #5764cb;
	text-align: center;
}

#now-indicator{
	height: 100%;
	width: 0px;
	position: absolute !important; 
}
#now-indicator div{
	background-color: rgba(255,255,255,0.2);
	position: absolute !important; 
	color: rgba(255,255,255,0.7);
	text-align: center;
	line-height: 20px;
	height: 70%;
	width: 25px;
	margin-left: -12.5px;
	box-shadow: 0 0 4px 15px rgba(255,255,255,0.2);
	font-size: 0.9em;
}
#zoom-title{ position: relative; }
#zoom-title span{ position: absolute; }
#zoom-title-weeks{ display: none; opacity: 0; }
#zoom-title-days{ display: none; opacity: 0; }